.hide {
    display: none;
}

.bars {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    z-index: 600;
}

.bar {
    height: 0.4px;
    margin-top: 3px;
    padding-bottom: 2px;
    width: 20px;
    color: white;
    border-bottom: 1px solid white;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.buttons {
    margin-top: 18px;
    
}

a {
    //text-decoration:none;
    color: white;
}

.buttons a{
    text-decoration:none;
}

.textContent {
    backdrop-filter: blur(6px) saturate(170%);
    //padding: 80px 10px;
    background-color: rgba(30, 144, 255, 0.50);
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    padding: 40px;
    position: absolute;
    top: 400px;
    left: 100px;
    text-align: center;
    animation: content 8.4s forwards;
    opacity: 0;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

    .textContent p {
        margin-bottom: 10px;
    }

    .textContent span {
        background: white;
        color: dodgerblue;
        padding: 6px 10px;
        cursor: pointer;
        margin-right: 5px;
        transition: 0.3s;
    }

        .textContent span:hover {
            background-color: rgba(30, 144, 255, 0.50);
            color: white;
        }

@keyframes content {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes change {
    0% {
        background-color: rgba(30, 144, 255, 0.0);
    }

    50% {
        background-color: rgba(30, 144, 255, 0.25);
    }

    100% {
        background-color: rgba(30, 144, 255, 0.65);
    }
}



.pane {
    width: 100%;
    border: 1px solid black;
    height: 100vh;
    z-index: -1;
}

.pane1 {
    //border: 10px solid black;
    height: auto;
    width: 100%;
    margin-bottom: 80px;
}

.about {
    border: 1px solid black;
    height: 120vh;
    width: 100%;
    text-align: center;
    background-color: rgba(30, 144, 255, 0.8);
    color: black;
    font-family: 'Roboto Slab', sans-serif;
}

    .about h2 {
        margin-top: 100px;
        margin-bottom: 20px;
        font-family: 'Roboto Slab', sans-serif;
    }

    .about p {
        font-family: 'Roboto Slab', sans-serif;
    }

.faqs {
    background-color: rgba(30, 144, 255, 0.8);
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: -30px;
    //color:white;
}

    .faqs h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .faqs .specialHeader {
        padding-top: 30px;
    }

.services {
    background: url('truck-3.jpg');
    background-position: center;
    background-attachment: fixed;
    border: 1px solid black;
    height: 80vh;
    width: 100%;
    text-align: center;
}

    .services h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        color: white;
    }







.pane2, .pane4, .pane5 {
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    text-align: center;
}

    .pane2 h2, .pane3 h2, .pane4 h2, .pane5 h2 {
        margin-top: 100px;
    }

.contact {
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-image: url('telephone-2.jpg');
    background-position: center center;
    object-fit: cover;
    position: relative;
}

    .contact:before {
        content: '';
        top: 0px;
        left: 0px;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: rgba(105, 105, 105, 0.5);
    }

    .contact .contactHeader {
        margin-top: 100px;
        color: white;
        z-index: 2;
        margin-bottom: 30px;
    }

.contactBody {
    margin-top: 0px;
    height: 80%;
    //border:10px solid white;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 400;
}

.contactAddress, .contactMap {
    width: 40%;
    border: 1px solid white;
    height: 80%;
}

.contactAddress {
    background-color: rgba(30, 144, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMap {
}





.cards {
    display: flex;
    border: 10px solid white;
    justify-content: flex-end;
    text-align: center;
    z-index: 100;
}

.card {
    margin-top: -130px;
    border: 1px solid black;
    width: 400px;
    height: 150px;
    backdrop-filter: blur(6px) saturate(170%);
    padding: 10px;
    background-color: rgba(30, 144, 255, 0.00);
    border-radius: 12px;
    color: white;
    text-transform: capitalize;
    animation: change 8.4s forwards;
}

video {
    min-width: 100%;
    min-height: 100%;
    //background-position:center;
}

.nav {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    //border: 1px solid white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    //backdrop-filter: blur(6px) saturate(170%);
    background-color: rgba(30, 144, 255, 0.5);
    animation: content 8.4s forwards;
    opacity: 0;
    position: fixed;
    z-index: 800;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

    .nav-items p {
        margin-left: 15px;
        cursor: pointer;
        font-size: 18px;
    }

        .nav-items p a {
            text-decoration: none;
            color: white;
            letter-spacing: -0.5px;
        }

@keyframes resize {
    0% {
        height: 150vh;
        width: 150vw;
    }



    100% {
        height: 100vh;
        width: 100vw;
    }
}

/* FORM STYLING */

.container {
    margin-top: 0px;
    height: 130vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.vContainer {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    //background-color: rgba(30,144, 255, 0.5);
    //background-color: rgba(105, 105, 105, 0.7);
    z-index: 1;
    //Change as per your requirement
}

.request-form {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 0px;
    //border: 1px solid white;
    width: 100%;
    margin: 0px auto;
    color: white;
    height: 80vh;
}

.form-text {
    width: 800px;
    text-align: center;
    margin: 30px auto;
}

.forum {
    //border: 1px solid red;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.form-control input {
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    width: 100%;
    padding: 3px;
    margin-top: 5px;
}

.form-control label {
    width: 30%;
}

.forum textarea {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.forum .form-control {
    //border:1px solid white;
    width: 100%;
    margin-bottom: 15px;
}

    .forum .form-control textarea {
        width: 100%;
        outline: none;
    }

.btn {
    padding: 5px 10px;
    transition: 0.3s;
    outline: none;
    width: 300px;
    text-transform: uppercase;
}

    .btn:hover {
        background-color: rgba(30,144, 255, 0.5);
        color: white;
        outline: none;
    }


.frieght_options {
    margin-top: 5px;
    width: 400px;
    margin-right: 15px;
    padding: 3px;
}


.options {
    outline: none;
}

    .options:focus {
        outline: none;
    }




/* FORM STYLING ENDS HERE*/

/* SERVICES SECTION */

.all_services {
    //border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 100px;
}

.single_service {
    //border: 1px solid black;
    width: 30%;
    height: 300px;
    color: white;
    //background-color: #1e90ff;
    background-color: rgba(30, 144, 255, 0.60);
    transition: 0.4s;
    opacity: 0.8;
    border-radius: 4px;
}

    .single_service:hover {
        transform: translateY(-20px);
    }


    .single_service .service_icon {
        margin-top: 25px;
    }

    .single_service .service-desc {
        //border:1px solid black;
        width: 400px;
        margin: 0px auto;
    }

        .single_service .service-desc h2 {
            margin-bottom: 5px;
        }

/* FAQS SECTION*/

.faq {
    width: 80%;
    height: 70px;
    border: 1px solid black;
    margin: 0px auto;
    position: relative;
}

    .faq h2 {
        font-weight: 100;
        font-size: 22px;
    }

.faq-answer {
    height: 140px;
    //border:1px solid red;
    width: 100%;
    z-index: 200;
    background-color: black;
    color: white;
}

    .faq-answer p {
    }

.faq-icon {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
}

    .faq-icon:hover {
        animation: rotate 0.3s forwards;
    }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer {
    height: 60px;
    width: 100%;
    background-color: rgba(30, 144, 255, 0.8);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    //border:1px solid black;
    width: 1000px;
    margin: 0px auto;
    text-align: center;
    letter-spacing: 0.8px;
    line-height: 25px;
    font-size: 18px;
    height: 30vh;
}

.mission_vision_founders {
    width: 1200px;
    margin: 10px auto;
    //border:1px solid red;
    height: 55vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mission_vision {
    //border:1px solid blue;
    width: 50%;
    height: 100%;
}

    .mission_vision h3 {
        margin: 10px auto;
        text-align: left;
        font-weight: 100;
    }

    .mission_vision p {
        margin: 10px auto;
        text-align: left;
        border-radius: 4px;
    }

.mission, .vision {
    //border:1px solid white;
    margin-top: 30px;
    margin-left: 30px;
}

.founders {
    //border: 1px solid blue;
    width: 50%;
    height: 100%;
}

.founder {
    //border: 1px solid white;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    height: 40%;
}

    .founder h3 {
        font-weight: 100;
    }

    .founder span{
        font-weight:100;
    }

    .founderName{
        margin-bottom:20px;
    }

.founderImage {
    width: 30%;
    border-radius: 15px;
}

    .founderImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

.founderDetails {
    width: 70%;
    margin-left: 10px;
}




@media only screen and (max-width:480px) {

    .wrapper{
        overflow:hidden;
    }


    .hide{
        display:none;
    }


    .service-desc p {
        font-size: 15px;
    }


    .pane1 {
        display: none;
    }


    .cards {
        display: none;
    }

    body {
        //background-color:red;
    }



    .nav {
        display: none;
    }


    .pane {
        width: 480px;
        border: 1px solid black;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center center;
        background-size:cover;
    }








    .bars {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid white;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        z-index:801;
    }

    .bar {
        height: 0.4px;
        margin-top: 3px;
        padding-bottom: 2px;
        width: 20px;
        color: white;
        border-bottom: 1px solid white;
    }


    .sidebar {
        width: 480px;
        height: 380px;
        background-color: dodgerblue;
        color: white;
        z-index: 800;
        position:fixed;
        height:100vh;
        opacity:0.8;
    }

    .sidebar-items {
        //border:1px solid white;
        position: absolute;
        top: 100px;
        left: 100px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .sidebar-items p {
            margin-bottom: 30px;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 18px;
        }

            .sidebar-items p a {
                text-decoration: none;
            }



 /* TEXT ON VIDEO SECTION */

    .textContent {
        backdrop-filter: blur(6px) saturate(170%);
        //padding: 80px 10px;
        background-color: rgba(30, 144, 255, 0.50);
        border-radius: 4px;
        color: white;
        text-transform: capitalize;
        padding: 40px;
        position: absolute;
        top: 470px;
        left: 40px;
        text-align: center;
        animation: content 8.4s forwards;
        opacity: 0;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textContent h2{
        font-size:22px;
    }

        .textContent p {
            margin-bottom: 10px;
        }

        .textContent span {
            background: white;
            color: dodgerblue;
            padding: 6px 10px;
            cursor: pointer;
            margin-right: 5px;
            transition: 0.3s;
        }

            .textContent span:hover {
                background-color: rgba(30, 144, 255, 0.50);
                color: white;
            }

    @keyframes content {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

/* END OF TEXT ON VIDEO SECTION*/


    .about {
        width: 480px;
        //margin-bottom: 800px; /* for testing purpose, should be removed!!!! */
        height: 1200px;
    }

        .about .intro {
            width: 480px;
        }

    .intro p {
        font-size: 16px;
    }

    .mission_vision_founders {
        width: 480px;
        flex-direction: column;
        align-items: flex-start;
        //border:10px solid red;
        height: auto;
    }

    .mission_vision {
        width: 100%;
    }

    .founders {
        width: 100%;
    }

    .services {
        margin-top: 0px; /* for testing purpose, should be removed!!!! */
        width: 480px;
        //margin-bottom: 500px;
        height: 1250px; /* for testing purpose, should be removed!!!! */
        background-size: 100% 100%;
        object-fit: contain;
    }

    .all_services {
        flex-wrap: wrap;
        height: auto;
    }

    .single_service {
        width: 85%;
        margin: 10px auto;
    }

    .container {
        width: 480px;
    }

        .container .form-text {
            width: 480px;
        }

            .container .form-text h2 {
                font-size: 20px;
            }

        .container .forum {
            width: 80%;
        }

        .container .form-control .frieght_options {
            width: 100%;
        }

        .container .form-control .btn {
            width: 100%;
        }

    .faqs {
        width: 480px;
    }

    .faq h2 {
        font-size: 16px;
    }

    .faq-answer p {
        line-height: 20px;
    }

    .contact {
        width: 480px;
        background-size: cover;
        background-position: center center;
        object-fit: cover;
    }

    .contactBody {
        width: 100%;
        flex-wrap: wrap;
        //flex-direction:column;
    }

    .contactAddress, .contactMap {
        width: 100%;
    }

    .footer {
        margin-top: 360px;
        width:480px;
    }
}
